<%= form_for :item, url: { action: :reset }, html: { method: :post, id: "task-form" } do |f| %>
  <%= error_messages_for :item %>

  <div class="gws-tabs">
    <%= link_to({ action: :sync }) do %>
      <span class="tab-name"><%= t("ss.buttons.sync") %></span>
    <% end %>
    <%= link_to({ action: :reset }, { class: "current" }) do %>
      <span class="tab-name"><%= t("ss.buttons.initialize") %></span>
    <% end %>
  </div>
  <section class="main-box task-box" style="line-height: 20px;">
    <%=br t("gws/portal.messages.reset.all_portal") %>
  </section>

  <%= render "ss/tasks/box", task: @task, url: url_for(action: :reset, format: :json) %>

  <footer class="send">
    <%= f.submit t("ss.buttons.initialize"), class: "save", data: { confirm: t("ss.confirm.initialize"), disable_with: t("ss.buttons.initializing") } %>
    <%= f.button t("ss.buttons.cancel"), class: "btn-default", onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>
<% end %>
