<%= form_for(:item, url: "#{@cur_node.url}", method: "get", html: { class: 'design-book-search' }) do %>
  <%= error_messages_for :item, header_message: false %>

  <fieldset class="design-book-number">
    <label for="search_design_book_number"><%= @model.t(:design_book_number) %></label>
    <%= text_field_tag :search_design_book_number, @design_book_number, maxlength: 10 %>
  </fieldset>

  <footer class="send">
    <%= submit_tag t('event.submit.search'), name: nil %>
  </footer>
<% end %>
