<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :invitation_message %></dt>
  <dd><%= f.text_area :invitation_message %></dd>

  <% if @item.new_record? %>
  <dt><%= @model.t :in_admin %></dt>
  <dd>
    <%= f.hidden_field "in_admin", value: "", class: "hidden-ids" %>
    <%= link_to :"cms.apis.members.index", cms_apis_members_path(single: 1), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Cms::Member.t :name %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% member = @item.in_admin %>
      <% if member.present? %>
        <tr data-id="<%= member["id"] %>">
          <td><%= f.hidden_field "in_admin", value: member["id"] %> <%= member["name"] %></td>
          <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
  <% end %>
</dl>
