<table class="index">
  <thead>
    <tr>
      <th><%= @item.t('line/service') %></th>
      <th><%= @item.t('line/trigger_type') %></th>
      <th><%= @item.t('line/trigger_data') %></th>
    </tr>
  </thead>
  <tbody>
  <% @item.line_delegates.each do |item| %>
    <tr>
      <td><%= item.service.try(:name) %></td>
      <td><%= item.trigger_type %></td>
      <td><%= item.trigger_data %></td>
    </tr>
  <% end %>
  </tbody>
</table>
