<%
  confirm_message = "配信を開始してよろしいですか？"
%>

<%= form_for :item, url: { action: :deliver }, html: { id: "item-form", method: :post, multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2>本配信</h2></header>
    <div class="main-body">
      <div style="font-weight: bold; padding: 5px 0px 10px 0px;">
        配信対象に本文を配信します。<br>
        配信するボタンを押下すると本配信処理が開始されます。
      </div>

      <dl class="see">
        <dt><%= @model.t :name %></dt>
        <dd><%= @item.name %></dd>

        <dt><%= @item.t :deliver_condition_state %></dt>
        <dd><%= @item.label :deliver_condition_state %></dd>

        <%= render file: "cms/agents/addons/line/deliver_condition/body/_condition" %>

        <dt><%= @model.t :deliver_date %></dt>
        <dd>
          <% if @item.deliver_date %>
            <%= @item.deliver_date.strftime("%Y/%m/%d %H:%M") %>
          <% else %>
            <%= "即時配信（予約日時無し）" %>
          <% end %>
        </dd>
      </dl>
    </div>
  </section>

  <footer class="send">
    <%= f.submit t('ss.links.deliver'), class: 'btn-primary save', onclick: "return confirm('#{confirm_message}')" %>
    <%= link_to t('ss.buttons.cancel'), { action: :show }, { class: 'btn-default' } %>
  </footer>
<% end %>

<%= jquery do %> SS.confirmUnloading();<% end %>
