<dl class="see member-body">
  <dt><%= @model.t :image %></dt>
  <dd>
    <a href="<%= @item.image.url%>" target="_blank">
      <%= image_tag @item.image.thumb_url %>
    </a>
  </dd>

  <dt><%= @model.t :caption %></dt>
  <dd><%= @cur_page.caption %></dd>
</dl>
