<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<% render_slack_channel = proc do |index, channel| %>
  <tr class="slack-channel" data-index="<%= index %>">
    <td><%= text_field_tag "#{f.object_name}[circular_slack_channels][]", channel, id: nil %></td>
    <td>
      <%= button_tag t("ss.buttons.delete"), type: "button", class: "btn btn-slack-channel-delete" %>
      <%= button_tag t("riken.slack.test_channel"), type: "button", class: "btn btn-slack-channel-test", data: { url: gws_riken_apis_slack_test_circular_slack_channel_path } %>
      <%= button_tag t("riken.slack.join_channel"), type: "button", class: "btn btn-slack-channel-join", data: { url: gws_riken_apis_slack_join_circular_slack_channel_path } %>
      <%= button_tag t("riken.slack.test_post"), type: "button", class: "btn btn-slack-channel-test-post", data: { url: gws_riken_apis_slack_test_post_circular_slack_channel_path } %>
    </td>
  </tr>
<% end %>

<dl class="see addon-gws-circular-group-setting">
  <dt><%= @model.t :circular_default_due_date %><%= @model.tt :circular_default_due_date %></dt>
  <dd class="short"><%= f.number_field :circular_default_due_date %> <span class="postfix"><%= t('datetime.prompts.day') %></span></dd>

  <dt><%= @model.t :circular_filesize_limit %><%= @model.tt :circular_filesize_limit %></dt>
  <dd class="short"><%= f.number_field :circular_filesize_limit %> <span class="postfix"><%= t('ss.units.mega_byte') %></span></dd>

  <% if false %>
  <dt><%= @model.t :circular_delete_threshold %><%= @model.tt :circular_delete_threshold %></dt>
  <dd><%= f.select :circular_delete_threshold, @item.circular_delete_threshold_options %></dd>
  <% end %>

  <dt><%= @model.t :circular_files_break %><%= @model.tt :circular_files_break %></dt>
  <dd><%= f.select :circular_files_break, @item.circular_files_break_options %></dd>

  <dt><%= @model.t :circular_new_days %><%= @model.tt :circular_new_days %></dt>
  <dd class="short"><%= f.number_field :circular_new_days %> <span class="postfix"><%= t("datetime.prompts.day") %></span></dd>

  <dt><%= @model.t :circular_slack_channels %><%= @model.tt :circular_slack_channels %></dt>
  <dd>
    <table class="index">
      <thead>
      <tr>
        <th>Channel Id</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.circular_slack_channels.each_with_index do |channel, index| %>
        <% render_slack_channel.call(index, channel) %>
      <% end %>
      <% render_slack_channel.call(@item.circular_slack_channels.length, nil) %>
      <tr class="operations">
        <td colspan="2">
          <%= button_tag t("ss.buttons.add"), type: "button", class: "btn btn-slack-channel-add" %>
          <script type="text/html">
            <% render_slack_channel.call(nil, nil) %>
          </script>
          <span><%= t("riken.ldap.max_custom_groups_notice", count: Gws::Addon::Circular::GroupSetting::MAX_CIRCULAR_SLACK_CHANNELS.to_s(:delimited)) %></span>
        </td>
      </tr>
      </tbody>
    </table>
  </dd>
</dl>

<%= jquery do %>
  new Riken_SlackChannelForm(<%== "##{addon[:id]}".to_json %>)
<% end %>
