<section class="main-box">
  <div class="list-head">
    <%= render file: "_search" %>
  </div>

  <%= @items.size %>

  <div>
    <table class="index" style="margin-bottom: 10px;">
      <tr style="background: #f2f2f2;">
        <th><%= @model.t :original_text %></th>
        <th><%= @model.t :text %></th>
        <th style="width: 120px;"></th>
        <th style="width: 150px;"><%= @model.t :updated %></th>
      </tr>
      <% @items.each do |item| %>
        <tr style="background: #ffffff;">
          <td><%= item.original_text %></td>
          <td><%= item.text %></td>
          <td><%= item.target %></td>
          <td><%= item.updated.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
      <% end %>
    </table>
  </div>
</section>

<%= paginate @items if @items.try(:current_page) %>
