<nav class="main-navi">
  <h2><%= link_to t('job_db.portal'), "#{job_db_portal_path}/", class: "icon-portal" %></h2>

  <% if JobDb::Member.allowed?(:read, @cur_user) %>
    <h2><%= link_to JobDb::Member.model_name.human, job_db_members_path, class: "icon-awesome icon-awesome-member" %></h2>
  <% end %>
  <% if JobDb::Company::Profile.allowed?(:read, @cur_user) %>
    <h2><%= link_to JobDb::Company::Profile.model_name.human, job_db_company_profiles_path, class: "icon-awesome icon-awesome-company" %></h2>
  <% end %>
  <% if JobDb::Incident::Topic.allowed?(:read, @cur_user) %>
    <h2><%= link_to JobDb::Incident::Topic.model_name.human, job_db_incident_topics_path, class: "icon-awesome icon-awesome-incident" %></h2>
  <% end %>

  <h2><%= link_to :"sys.conf", sys_conf_path, class: "icon-conf" %></h2>
</nav>
