<%= form_for :item, url: { action: :unsubscribe }, html: { method: :delete, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t("rss.views.confirm.unsubscribe") %></h2></header>
  </section>

  <footer class="send">
    <%= f.submit t("rss.views.button.unsubscribe"), class: :save %>
    <%= f.button t("views.button.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>
<% end %>
