<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to(t('ss.links.download'), { action: :download_all }, { class: :download }) %>
    <% end %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to(t('ss.links.import'), { action: :import }, { class: :import }) %>
    <% end %>
  <% elsif params[:action] =~ /new|create|edit|update|delete|download|import/ %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "back-to-index" %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.edit'), { action: :edit, id: @item }, class: :edit %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "back-to-index" %>
  <% end %>
</nav>
