<%= form_for :item, url: "#{@cur_node.url}guide.html", html: { method: "POST" } do |f| %>
  <div class="guide-node-form">
    <%= error_messages_for :item, header_message: false %>
    <%= sanitize(@cur_node.guide_html) %>
    <% @data.each do |k, v| %>
      <%= hidden_field_tag("item[column_ids][#{k}]", v) %>
    <% end %>
    <div class="guide-nodes nodes">
      <div class="question"><%= @questions.first.question %></div>
      <% if @questions.first.select_options.present? %>
        <div class="columns">
          <% @questions.first.columns.each do |column| %>
            <fieldset class="column">
              <label>
                <%= hidden_field_tag("item[column_ids][#{column.id}]", '') %>
                <%= check_box_tag("item[column_ids][#{column.id}]", 1, @data[column.id.to_s].present?, {}) %>
                <span><%= column.name %></span>
              </label>
            </fieldset>
          <% end %>
        </div>
      <% end %>
    </div>
    <footer class="send">
      <% if @questions.first.select_options.present? %>
        <%= f.submit t("guide.links.next"), name: :submit %>
      <% else %>
        <%= f.submit t("guide.links.applicable"), name: :submit %>
        <%= f.submit t("guide.links.not_applicable"), name: :submit %>
      <% end %>
    </footer>
  </div>
<% end %>
