<div class="guide-node-form">
  <div class="procedure-count"><%= t("guide.views.procedures_needed", count: @procedures.count) %></div>
  <div class="guide-nodes nodes">
    <%= render_procedure_list %>
  </div>

  <% if @cur_node.procedures.present? %>
  <div class="other-procedures"><%= t("guide.views.procedures_others") %></div>
  <div class="guide-nodes nodes">
    <% @items = @cur_node.procedures %>
    <%= render_procedure_list %>
  </div>
  <% end %>

  <div class="show-answer"><%= link_to t('guide.links.show_answer'), "#{@cur_node.url}answer/#{@condition}" %></div>
  <div class="back-to-first"><%= link_to t('guide.links.back_to_first'), @cur_node.url %></div>
</div>
