<dl class="see mod-job_db-member-admins">
  <dt><%= @model.t :member_ids %></dt>
  <dd>
    <table class="index">
      <thead>
      <tr>
        <th class="name"><%= JobDb::Member.t :name %></th>
        <th class="email"><%= JobDb::Member.t :email %></th>
      </tr>
      </thead>
      <tbody>
      <% @item.members.each do |member| %>
        <tr data-id="<%= member.id %>">
          <td><%= member.name %></td>
          <td><%= member.email %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
