<%= jquery do %> //SS_AddonTabs.hide(".mod-job_db-incident-category"); <% end %>

<dl class="see mod-job_db-incident-category job_db-category-tree">
  <dt><%= @model.t :category_ids %><%= @model.tt :category_ids %></dt>
  <dd>
    <%= f.hidden_field "category_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("job_db.apis.categories.index"), job_db_apis_categories_path(model: 'JobDb::Incident::Category'), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= JobDb::Incident::Category.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
        <% @item.categories.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= f.hidden_field "category_ids[]", value: item.id %> <%= item.name %></td>
          <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
