<% return if @node.nil? %>
<% return if @items.blank? %>

<%= jquery do %>
new Cms_Site_Search_History("<%= "#site-search-history-part-#{@cur_part.id}" %>");
<% end %>

<div class="head-search">
  <p>サイト内検索</p>
  <%= form_for :s, url: @node.url, html: { method: :get, id: "site-search-history-part-#{@cur_part.id}" } do |f| %>
    <div class="site-search-keyword">
      <input type="text" title="サイト内検索" placeholder="" class="text" id="search-box" size="40" name="s[keyword]" autocomplete="off">
      <ul class="site-search-history" style="display: none;">
        <% @items.each do |item| %>
          <% keyword = item.query["keyword"] %>
          <li>
            <a href="<%= @node.url + "?" + { s: { keyword: keyword } }.to_query %>" rel="nofollow" data-value="<%= keyword %>">
              <%= keyword %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <button type="submit" id="search-button"><img src="<%= @cur_site.url %>img/search.svg" width="16" alt="検索"></button>
  <% end %>
</div>
