<%= jquery do %>
  var sort = new SS_SortableForm('.mod-cms-addon-line-hub .index');
  sort.renderItems(<%== @item.line_delegates.to_json %>);
<% end %>
<%
  templates = Cms::Line::Template.site(@cur_site).pluck(:name, :id)
%>
<div class="mod-cms-addon-line-hub">
  <table class="index form-index sortable-index">
    <thead>
    <tr>
      <th><%= @item.t('line/mode') %></th>
      <th><%= @item.t('line/trigger_type') %></th>
      <th><%= @item.t('line/trigger_data') %></th>
      <th><%= @item.t('line/target') %></th>
      <th><%= @item.t('line/template_id') %></th>
    </tr>
    </thead>
    <tbody>
    <tr data-base="true">
      <td><%= f.text_field_tag 'item[line_delegates][][mode]', nil, id: nil %></td>
      <td><%= f.text_field_tag 'item[line_delegates][][trigger_type]', nil, id: nil %></td>
      <td><%= f.text_field_tag 'item[line_delegates][][trigger_data]', nil, id: nil %></td>
      <td><%= f.text_field_tag 'item[line_delegates][][target]', nil, id: nil %></td>
      <td><%= select_tag('item[line_delegates][][template_id]', options_for_select(templates), include_blank: true) %></td>
    </tr>
    </tbody>
  </table>
</div>
