<div id="map-categorybar" style="height: 400px;">
  <h2>検索結果<%= @items.count %>件</h2>
  <div class="all">
    <label>
      <%= check_box_tag "category_ids[]", "all", true, { "class" => "filter-all", "data-id" => 0 } %>
      <%= "全て表示する" %>
    </label>
  </div>

  <% h = {} %>
  <% @filter_categories.each do |cate| %>
    <% h[cate.parent] ||= [] %>
    <% h[cate.parent] << cate %>
  <% end %>
  <% h.each do |parent, cates| %>
    <% if parent %>
      <h2><%= parent.name %></h2>
      <div class="<%= parent.basename %>">
    <% else %>
      <div class="depth1">
    <% end %>
    <% cates.each do |cate| %>
      <label>
        <%= check_box_tag "category_ids[]", cate.id, true, { "class" => "filter", "data-id" => cate.id } %>
        <%= image_tag cate.image.url if cate.image %>
        <%= cate.name %>
      </label>
    <% end %>
  <% end %>
</div>
