<%= render partial: "menu" %>

<div class="member-pages-form">
  <dl class="see">
    <dt><%= @model.t :name %></dt>
    <dd><%= @item.name %></dd>
  </dl>

  <dl class="see">
    <dt><%= @model.t :email %></dt>
    <dd><%= @item.email %></dd>
  </dl>
</div>
