<dl class="see mod-guide-column">
  <dt><%= @model.t :applicable_column_ids %><%= @model.tt :applicable_column_ids %></dt>
  <dd>
    <%= f.hidden_field "applicable_column_ids[]", value: "", class: "hidden-ids" %>
    <%
      page_params = {}
      if @cur_node
        page_params[:s] = { node: @cur_node }
      end
    %>
    <%= link_to t("guide.apis.columns.index"), guide_apis_columns_path(page_params), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= @model.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.applicable_columns.each do |page| %>
        <tr data-id="<%= page.id %>">
          <td><%= f.hidden_field "applicable_column_ids[]", value: page.id %> <%= page.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see mod-guide-column">
  <dt><%= @model.t :not_applicable_column_ids %><%= @model.tt :not_applicable_column_ids %></dt>
  <dd>
    <%= f.hidden_field "not_applicable_column_ids[]", value: "", class: "hidden-ids" %>
    <%
      page_params = {}
      if @cur_node
        page_params[:s] = { node: @cur_node }
      end
    %>
    <%= link_to t("guide.apis.columns.index"), guide_apis_columns_path(page_params), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= @model.t :name %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.not_applicable_columns.each do |page| %>
        <tr data-id="<%= page.id %>">
          <td><%= f.hidden_field "not_applicable_column_ids[]", value: page.id %> <%= page.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
