<%= render_facility_geolocation "#map-canvas", markers: @markers, site: @cur_site, loc: @loc, radius: @radius, center: @loc, layer: @layer %>

<% if @loc.blank? %>
<%= jquery do %>$(".geolocation").click();<% end %>
<% end %>

<div class="map-wrap">
  <form>
    <%= hidden_field_tag :current_loc, "#{@lon},#{@lat}", class: "current-loc" %>
    <%= hidden_field_tag :map_clicked, nil, class: "map-clicked" %>
    <div class="circle">
      <label>円の範囲<%= select_tag :r, options_for_select(@radius_options, @radius), class: "radius" %></label>
    </div>
    <div class="city">
      <label>市町村<%= select_tag :loc, options_for_select(@location_options), class: "facility-location" %></label>
    </div>
    <% if @cur_site.map_setting[:api] == "openlayers" %>
    <div class="layer">
      <label>レイヤー
        <%= select_tag :loc, options_for_select([["国土地理院地図", "GIS"], ["グーグルマップ", "GOOGLE"]], @layer), class: "switch-layer" %>
      </label>
    </div>
    <% end %>
    <span class="map-search" style="text-align: right;">
      <a>検索</a>
    </span>
    <span class="geolocation" style="text-align: right;">
      <a>現在位置に移動</a>
    </span>
  </form>
</div>

<div id="map-canvas" style="width: 100%; height: 400px;"></div>

<div id="map-categorybar" style="height: 400px;">
  <h2>検索結果<%= @items.count %>件</h2>
  <div class="all">
    <label>
      <%= check_box_tag "category_ids[]", "all", true, { "class" => "filter-all", "data-id" => 0 } %>
      <%= "全て表示する" %>
    </label>
  </div>
  <% h = {} %>
  <% @filter_categories.each do |cate| %>
    <% h[cate.parent] ||= [] %>
    <% h[cate.parent] << cate %>
  <% end %>
  <% h.each do |parent, cates| %>
    <% if parent %>
      <h2><%= parent.name %></h2>
      <div class="<%= parent.basename %>">
        <% cates.each do |cate| %>
          <label>
            <%= check_box_tag "category_ids[]", cate.id, true, { "class" => "filter", "data-id" => cate.id } %>
            <%= image_tag cate.image.url if cate.image %>
            <%= cate.name %>
          </label>
        <% end %>
      </div>
    <% else %>
      <div class="depth1"></div>
    <% end %>
  <% end %>
</div>

<table class="spot-lists">
  <thead>
  <tr>
    <th>施設名</th>
    <th>所在地</th>
    <th>SSID</th>
    <th>中心からの距離</th>
    <th>経路案内(Googleで表示)</th>
  </tr>
  </thead>
  <tbody>
    <% @markers.each do |marker| %>
    <tr>
      <td><%= link_to marker[:facility_name], marker[:facility_url] %></td>
      <td><%= marker[:address] %></td>
      <td><%= marker[:ssid] %></td>
      <td>
        <% if marker[:distance] > 1.0 %>
          <%= "#{marker[:distance].round(1)}km" %>
        <% else %>
          <%= "#{(marker[:distance] * 1000).round}m" %>
        <% end %>
      </td>
      <td>
        <%
          url = "http://maps.google.com/maps?daddr=#{marker[:address]}"
          url = "http://maps.google.com/maps?daddr=#{marker[:loc]["lat"]},#{marker[:loc]["lng"]}" if marker[:loc].present?
        %>
        <a href="<%= url %>" target="_blank">経路案内(Googleで表示)</a></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
