<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<dl class="see addon-gws-notice-group-setting">
  <dt><%= @model.t :notice_new_days %><%= @model.tt :notice_new_days %></dt>
  <dd class="short"><%= f.number_field :notice_new_days %> <span class="postfix"><%= t("datetime.prompts.day") %></span></dd>

  <dt><%= @model.t :notice_slack_channels %><%= @model.tt :notice_slack_channels %></dt>
  <dd><%= f.text_field :notice_slack_channels %></dd>
</dl>
