<%= jquery do %>

  $(".reset").on("click", function () {
    $(".prop").prop("checked", false);
    $(".keyword").val("");
    return false;
  });

<% end %>

<%= form_tag search_path, multipart: true, method: "get" do %>
  <%= hidden_field_tag :search_keyword, @keyword, class: "keyword" %>
  <%= hidden_field_tag 'location_id', @location_id %>
  <%= hidden_field_tag 'facility_id', @facility_id %>

  <fieldset class="genre">
    <legend><%= "ジャンルから探す" %></legend>
    <% @event_node.st_genres.site(@cur_site).and_public.each do |genre| %>
      <label for=<%= "q_genre_ids_#{genre.id}" %>>
        <%= check_box_tag 'genre_ids[]', genre.id, @genre_ids.include?(genre.id) ? {checked: true} : nil,
                          { id: "q_genre_ids_#{genre.id}", class: "prop"} %>
        <%= genre.name %>
      </label>
    <% end %>
  </fieldset>

  <% @ages.each do |age| %>
    <%= hidden_field_tag 'age_ids[]', age.id %>
  <% end %>

  <footer class="send">
    <%= submit_tag "リセット", name: nil, class: :reset %>
    <%= submit_tag "検索する", name: nil %>
  </footer>
<% end %>
