<%= jquery do %>

  $(".reset").on("click", function () {
    $(".prop").prop("checked", false);
    $(".keyword").val("");
    return false;
  });

<% end %>

<%= form_tag search_path, multipart: true, method: "get" do %>
  <%= hidden_field_tag :search_keyword, @keyword, class: "keyword" %>

  <fieldset class="location">
    <legend><%= "地域から探す" %></legend>
    <% @event_node.st_locations.site(@cur_site).and_public.each do |location| %>
      <label>
        <%= radio_button_tag "location_id", location.id, @location_id.to_s == location.id.to_s, { id: nil, class: "prop" } %>
        <%= location.name %>
      </label>
    <% end %>
  </fieldset>

  <fieldset class="facility">
    <legend><%= "施設から探す" %></legend>
    <% @event_node.st_facilities.site(@cur_site).and_public.each do |facility| %>
      <label>
        <%= radio_button_tag "facility_id", facility.id, @facility_id.to_s == facility.id.to_s, { id: nil, class: "prop" } %>
        <%= facility.name %>
      </label>
    <% end %>
  </fieldset>

  <% @genres.each do |genre| %>
    <%= hidden_field_tag 'genre_ids[]', genre.id %>
  <% end %>

  <% @ages.each do |age| %>
    <%= hidden_field_tag 'age_ids[]', age.id %>
  <% end %>

  <footer class="send">
    <%= submit_tag "リセット", name: nil, class: :reset %>
    <%= submit_tag "検索する", name: nil %>
  </footer>
<% end %>
