<%= jquery do %> SS_AddonTabs.hide(".job_db-addon-history"); <% end %>

<div class="job_db-addon-history">
  <table class="index">
    <thead>
      <tr>
        <th style="width: 80px"><%= JobDb::History.t :mode %></th>
        <th style="width: 140px"><%= JobDb::History.t :created %></th>
        <th><%= SS::User.t :name %></th>
        <th><%= SS::User.t :email %></th>
        <th><%= JobDb::History.t :updated_fields %></th>
      </tr>
    </thead>
    <tbody>
      <% @item.histories.each do |item| %>
      <tr>
        <td><%= item.mode_name %></td>
        <td><%= tryb { item.created.strftime("%Y/%m/%d %H:%M") } %></td>
        <td><%= item.user.try(:name) %></td>
        <td><%= item.user.try(:email) %></td>
        <td>
          <% if (names = item.updated_field_names).present? %>
          <%= truncate names.join(', '), length: 30 %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
