<dl class="see" style="margin-bottom: 30px;">
  <dt><%= @item.t :expired_minutes %></dt>
  <dd>
    <%= @item.expired_minutes %>
    <%= t("datetime.prompts.minute") %>
  </dd>

  <dt><%= @item.t :expired_text %></dt>
  <dd><%=br @item.expired_text %></dd>
</dl>

<table class="index">
  <thead>
    <tr>
      <th><%= @item.t('line/service') %></th>
      <th><%= @item.t('line/trigger_type') %></th>
      <th><%= @item.t('line/trigger_data') %></th>
    </tr>
  </thead>
  <tbody>
  <% @item.delegates.each do |item| %>
    <tr>
      <td><%= item.service.try(:name) %></td>
      <td><%= item.trigger_type %></td>
      <td><%= item.trigger_data %></td>
    </tr>
  <% end %>
  </tbody>
</table>
