<%= javascript_include_tag "/assets/js/jquery.colorbox.js" %>
<%= stylesheet_link_tag "/assets/css/colorbox/colorbox.css" %>

<%= coffee do %>
$(window).on "load", ->
  # setup search modal window
  $(".ajax-box").on "click", ->
    $.colorbox({ html: "<%=j render(partial: "modal", locals: { search_path: "./result.html" }) %>"})
    return false
<% end %>

<%= render file: "facility/agents/addons/search_result/view/upper" %>

<div class="columns">
  <% @items.each do |item| %>
    <article class="column">
      <header>
        <h2 class="name"><%= link_to item.name, item.url %></h2>
      </header>
      <div class="categories">
        <ul>
          <% item.categories.each do |cate| %>
            <li class="<%= cate.basename %>">
              <%= link_to cate.name, cate.url %>
            </li>
          <% end %>
        </ul>
      </div>
      <p class="address"><%= item.address %></p>
      <div class="right">
        <dl class="info">
          <% holiday_info = item.holiday_info %>
          <% if holiday_info %>
            <dt class="holiday"><%= holiday_info[:field] %></dt>
            <dd class="holiday-value"><%=br holiday_info[:value] %></dd>
          <% end %>

          <% open_hours_info = item.open_hours_info %>
          <% if open_hours_info %>
            <dt class="open-hours"><%= open_hours_info[:field] %></dt>
            <dd class="open-hours-value"><%=br open_hours_info[:value] %></dd>
          <% end %>
        </dl>

        <% loc = item.map_points.first["loc"].join(",") rescue nil %>
        <% if loc %>
          <%= link_to "Googleマップで表示", "http://maps.google.com/maps?q=#{loc}", target: "_blank", class: "open-google-map" %>
        <% end %>
      </div>
    </article>
  <% end %>
</div>

<%= paginate @items if @items.try(:current_page) %>
