<%= coffee do %>
$.datetimepicker.setLocale('ja')
if ($.support.opacity)
  $(".js-date").datetimepicker
    timepicker: false
    format:'Y/m/d'
    closeOnDateSelect: true
    scrollInput: false

$(".send .reset").on "click", ->
  $(".prop").prop "checked", false
  $(".keyword").val("")
  $(".dates input").val("")
  $(".facility select").val("")
  return false
<% end %>

<%= form_for :item, url: (@search_url || @cur_node.search_url), method: "get" do %>
    <h2><%= t("event.keyword") %></h2>
    <div class="keyword"><%= text_field_tag :search_keyword, @keyword, class: "keyword" %></div>

    <h2><%= t("event.category.setting") %></h2>
    <div class="category">
      <% @categories.each do |cate| %>
        <div class="<%= cate.id %>">
          <label for=<%= "q_category_ids_#{cate.id}" %>>
            <%= check_box_tag 'category_ids[]', cate.id, @category_ids.include?(cate.id) ? {checked: true} : nil,
              { id: "q_category_ids_#{cate.id}", class: "prop"} %>
            <%= cate.name %>
          </label>
        </div>
      <% end %>
    </div>

    <h2><%= t("event.dates.setting") %></h2>
    <div class="dates location">
      <%= text_field_tag "event[][start_date]", @start_date.present? ? I18n.l(@start_date) : nil, { id: nil, class: "date js-date start" } %>
      - <%= text_field_tag "event[][close_date]", @close_date.present? ? I18n.l(@close_date) : nil, { id: nil, class: "date js-date close" } %>
    </div>

    <% if @facility_options.present? %>
        <h2><%= t("event.facility.setting") %></h2>
        <div class="facility">
          <%= select_tag "facility_id", options_for_select(@facility_options, @facility.try(:id)), include_blank: true %>
        </div>
    <% end %>

    <footer class="send">
      <%= submit_tag t('event.submit.search'), name: nil %>
      <%= link_to :'event.submit.reset', @cur_node.url, class: 'reset btn' %>
    </footer>
<% end %>
