<div class="columns">
  <dl class="colum">
    <dt><%= @item.class.t :name %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= @item.class.t :email %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :email %></dd>

    <dt><%= @item.class.t :email_again %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :email_again %></dd>
  </dl>
</div>
