<%= stylesheet_link_tag 'member/public', media: 'all' %>
<%= javascript_include_tag 'member/public' %>

<div class="columns">
  <dl class="colum">
    <dt><%= @item.class.t :name %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :name %></dd>
  </dl>

  <dl class="colum">
    <dt><%= @item.class.t :email %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :email %></dd>

    <dt><%= @item.class.t :email_again %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :email_again %></dd>
  </dl>

  <dl class="colum">
    <dt><%= @item.class.t :kana %></dt>
    <dd><%= f.text_field :kana %></dd>
  </dl>

  <dl class="colum">
    <dt><%= @item.class.t :tel %></dt>
    <dd><%= f.text_field :tel %></dd>
  </dl>

  <dl class="colum">
    <dt><%= @item.class.t :addr %></dt>
    <dd><%= f.text_field :addr %></dd>
  </dl>

  <dl class="colum">
    <dt><%= @item.class.t :sex %></dt>
    <dd><%= f.select :sex, @item.sex_options, include_blank: true %></dd>
  </dl>

  <dl class="colum">
    <dt><%= @item.class.t :birthday %></dt>
    <dd>
      <%= f.fields_for :in_birth do |birth_f| %>
        <%= birth_f.select :era, options_for_select(%w(西暦 明治 大正 昭和 平成), tryb { @item.in_birth[:era] }) %>
        <%= birth_f.number_field :year, value: tryb { @item.in_birth[:year] } %>
        年
        <%= birth_f.select :month, options_for_select((1..12).to_a, tryb { @item.in_birth[:month] }) %>
        月
        <%= birth_f.select :day, options_for_select((1..31).to_a, tryb { @item.in_birth[:day] }) %>
        日
      <% end %>
    </dd>
  </dl>
</div>
