<%= stylesheet_link_tag 'member/public', media: 'all' %>
<%= javascript_include_tag 'member/public' %>

<div class="columns">
  <dl class="colum name">
    <dt><%= @item.class.t :name %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :name %></dd>
  </dl>

  <dl class="colum email">
    <dt><%= @item.class.t :email %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :email %></dd>

    <dt><%= @item.class.t :email_again %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :email_again %></dd>
  </dl>

  <dl class="colum kana">
    <dt><%= @item.class.t :kana %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :kana %></dd>
  </dl>

  <dl class="colum organization-name">
    <dt><%= @item.class.t :organization_name %></dt>
    <dd><%= f.text_field :organization_name %></dd>
  </dl>

  <dl class="colum job">
    <dt><%= @item.class.t :job %></dt>
    <dd><%= f.text_field :job %></dd>
  </dl>

  <dl class="colum tel">
    <dt><%= @item.class.t :tel %></dt>
    <dd><%= f.text_field :tel %></dd>
  </dl>

  <dl class="colum postal-code">
    <dt><%= @item.class.t :postal_code %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd>
      <%= f.text_field :postal_code %>
      <%= f.button "郵便番号検索", name: 'postal-code-search', type: :button %>
    </dd>
  </dl>

  <dl class="colum addr">
    <dt><%= @item.class.t :addr %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd><%= f.text_field :addr %></dd>
  </dl>

  <dl class="colum sex">
    <dt><%= @item.class.t :sex %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd>
      <% @item.sex_options.each do |text, val| %>
        <%= label_tag("item_sex_#{val}", class: val) do %>
        <%= f.radio_button :sex, val %><%= text %>
        <% end %>
      <% end %>
    </dd>
  </dl>

  <dl class="colum birthday">
    <dt><%= @item.class.t :birthday %><span class="required"><%= t('views.required_field') %></span></dt>
    <dd>
      <%= f.fields_for :in_birth do |birth_f| %>
        <%= birth_f.select :era, options_for_select(%w(西暦 明治 大正 昭和 平成), tryb { @item.in_birth[:era] }), include_blank: true %>
        <%= birth_f.number_field :year, value: tryb { @item.in_birth[:year] } %>
        年
        <%= birth_f.select :month, options_for_select((1..12).to_a, tryb { @item.in_birth[:month] }), include_blank: true %>
        月
        <%= birth_f.select :day, options_for_select((1..31).to_a, tryb { @item.in_birth[:day] }), include_blank: true %>
        日
      <% end %>
    </dd>
  </dl>
</div>

<%= jquery do %>
  $("button[name='postal-code-search']").on('click', function (e) {
    $(this.form).append('<input name="' + this.name + '" type="hidden" value="' + this.value + '">');
    this.form.submit.click();
  });
<% end %>
