<%== @cur_node.upper_html if @cur_node.upper_html.present? %>

<div class="subs">
<%==
  @subs.map do |row|
    cls = (@cur_skw == row["name"]) ? "current" : ""
    link_to(row["label"], "#{@cur_node.url}result.html?#{ { skw: row["name"], year: nil }.to_query }", class: cls)
  end.join(" / ")
%>
</div>

<div class="res-years">
<%
  years = @res_years.map do |year, res|
    next if res.blank?
    cls = (@cur_year.to_i == year) ? "current" : ""
    link_to("#{year}年度", "#{@cur_node.url}result.html?#{ { skw: @cur_skw, year: year }.to_query }", class: cls)
  end

  cls = @cur_year.blank? ? "current" : ""
  years << link_to("すべての年度", "#{@cur_node.url}result.html?#{ { skw: @cur_skw, year: nil }.to_query }", class: cls)
%>
<%== years.join(" / ") %>
</div>

<% if @cur_year.present? %>
  <h2><%= "#{@cur_skw_label}[#{@cur_year}] に属する文献一覧 (#{@res.count}件)" %></h2>
<% else %>
  <h2><%= "#{@cur_skw_label}に属する文献一覧 (#{@res.count}件)" %></h2>
<% end %>

<%=jquery do %>
$("#id-list .title").on("click", function(){
  $(this).next(".abstract").toggle("slow");
});
<% end %>

<% if @res.present? %>

<ul id="id-list">
  <% @res.each do |row| %>
    <li>
      <% if row["URL"].present? && ::File.extname(row["URL"]) =~ /^\.(pdf|doc|docx|xls|xlsx|ppt|pptx|gif|png)$/i %>
        <%= link_to "リンク", row["URL"], target: "_blank", class: "link-btn" %>
      <% end %>

      <% 1.upto(15) do |n| %>
        <% break if row["c#{n}"].blank? %>
        <% _, l = row["c#{n}"].split(",") %>
        <%= link_to "リンク", l, target: "_blank", class: "link-btn" %>
      <% end %>

      <span class="title"><%== row["title"] %></span>
      <div class="abstract" style="display: none;"><%= (row["abstract"].presence || "詳細はありません。") %></div>
    </li>
  <% end %>
</ul>

<% else %>

<%== @cur_node.substitute_html %>

<% end %>

<%== @cur_node.lower_html if @cur_node.lower_html.present? %>
