<dl class="see mod-job_db-incident-category">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.send :name %></dd>

  <% if @item.color.present? %>
  <dt><%= @model.t :color %></dt>
  <dd><span class="job_db-category-label" style="<%= category_label_css(@item) %>"><%= @item.name %></span></dd>
  <% end %>

  <dt><%= @model.t :order %></dt>
  <dd><%= @item.send :order %></dd>
</dl>
