<nav class="mod-navi">
  <h2><%= t("cms.line") %></h2>
  <h3><%= link_to t("cms.line_template"), cms_line_templates_path %></h3>
  <h3><%= link_to t("cms.line_poster"), cms_line_poster_segment_deliveries_path %></h3>
  <% if Cms::Line::EventSession.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("cms.line_event_session"), cms_line_event_sessions_path %></h3>
  <% end %>
</nav>

<%= render partial: "cms/main/navi" %>
