<dl class="see">
  <% if @item.required_by_preset? %>
    <div style="padding-bottom: 20px; color: red;">
      <%= t("gws/portal.messages.required_portlet") %>
    </div>
  <% end %>

  <dt><%= @model.t :name %></dt>
  <dd><%= @item.send :name %></dd>

  <dt><%= @model.t :portlet_model %></dt>
  <dd><%= @item.label :portlet_model %></dd>
</dl>
