<%= form_for :item, url: { action: :reset }, html: { method: :post } do |f| %>
  <%= error_messages_for :item %>

  <div class="gws-tabs">
    <%= link_to({ action: :sync }) do %>
      <span class="tab-name"><%= t("ss.buttons.sync") %></span>
    <% end %>
    <%= link_to({ action: :reset }, { class: "current" }) do %>
      <span class="tab-name"><%= t("ss.buttons.initialize") %></span>
    <% end %>
  </div>
  <section class="main-box task-box" style="line-height: 20px;">
    <%=br t("gws/portal.messages.reset.one_portal") %>
  </section>

  <section class="main-box">
    <dl class="see">
      <dt><%= t("gws/portal.preset") %></dt>
      <dd><%= @preset.name %></dd>

      <dt><%= t('gws/portal.delete_portlets_for_reset') %></dt>
      <dd>
        <% @portal.portlets.each do |item| %>
          <%= item.name %><br />
        <% end %>
      </dd>

      <dt><%= t('gws/portal.create_portlets_for_reset') %></dt>
      <dd>
        <% @preset_setting.default_portlets.each do |item| %>
          <%= item.name %><br />
        <% end %>
      </dd>
    </dl>
  </section>

  <footer class="send">
    <%= f.submit t('ss.buttons.initialize'), class: :save, data: { confirm: I18n.t("ss.confirm.initialize") } %>
  </footer>
<% end %>
