<% if @preset %>
  <div class="main-box">
    <header><h2><%= @preset.name %></h2></header>
    <table class="index">
      <thead>
        <tr>
          <th style="width:20%"><%= t("gws/portal.portlets.header.name") %></th>
          <th><%= t("ss.options.state.required") %></th>
          <th><%= t("gws/portal.portlets.header.text") %></th>
        </tr>
      </thead>
      <tbody>
        <% @preset.portal_setting.portlets.reorder(order: 1).each do |item| %>
        <tr>
          <td>
            <% if item.required? %>
              <%= item.name %>
            <% else %>
              <%= link_to item.name, "?preset_portlet_id=#{item.id}" %>
            <% end %>
          </td>
          <td><%= item.label :required %></td>
          <td><%= item.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="main-box">
    <%= t("gws/portal.messages.no_preset") %>
  </div>
<% end %>

