<div class="mypage-show member-profile">
  <section class="profile">
    <div class="children">
      <% 1.upto(Cms::Member::CHILD_MAX_SIZE) do |i| %>
        <% next if @item.send("child#{i}_name").blank? %>
        <div class="child child-<%= i %>">
          <div class="name"><%= @item.send("child#{i}_name") %>さん</div>
          <div class="age"><%= @item.send("child#{i}_age_label") %></div>
        </div>
      <% end %>
    </div>
    <%= link_to "#{@profile_node.name}を見る", @profile_node.url if @profile_node %>
  </section>

  <% @loop_delegates.each do |delegate| %>
    <%
      @cur_node = delegate.node
      @cur_node.attributes = delegate.attributes
      context = OpenStruct.new(
        cur_site: @cur_site,
        cur_node: @cur_node,
        cur_date: @cur_date,
        cur_member: @cur_member,
        deliver_category_cond: @deliver_category_cond,
        deliver_age_cond: @deliver_age_cond,
      )
      @items = delegate.criteria_proc.call(context)
    %>
    <section class="<%= @cur_node.basename %>">
      <%= render_page_list %>
    </section>
  <% end %>
</div>
