<div class="mypage-show member-profile">
  <section class="profile">
    <h2>登録情報</h2>
    <div class="children">
      <% 1.upto(Cms::Member::CHILD_MAX_SIZE) do |i| %>
        <% next if @item.send("child#{i}_name").blank? %>
        <div class="child child-<%= i %>">
          <div class="name"><%= @item.send("child#{i}_name") %>さん</div>
          <div class="age"><%= @item.send("child#{i}_age_label") %></div>
        </div>
      <% end %>
    </div>
    <%= link_to "登録情報を見る", @profile_node.url if @profile_node %>
  </section>

  <section class="bookmarks">
    <h2>お気に入り登録したページ</h2>
    <div class="pages">
      <ul>
        <% @bookmarks.each do |item| %>
          <li><%= link_to item.page.name, item.page.url %></li>
        <% end %>
      </ul>
    </div>
  </section>

  <section class="events">
    <h2>イベント</h2>
    <div class="pages"></div>
  </section>

  <section class="blogs">
    <h2>ブログ</h2>
    <div class="pages"></div>
  </section>

  <section class="child-ages">
    <h2>ブログ</h2>
    <div class="pages"></div>
  </section>
</div>
