<table class="columns column">
  <caption><%= @cur_node.name %></caption>
  <thead>
  <tr>
    <th><%= t('garbage.category.name') %></th>
    <th><%= t('garbage.style') %></th>
    <th><%= t('garbage.bgcolor') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @cur_node.category %></td>
    <td><%= @cur_node.style%></td>
    <td><%= @cur_node.bgcolor %></td>
  </tr>
  </tbody>
</table>