<%= form_for :item, url: "#{@cur_node.url}guide.html", html: { method: "POST" } do |f| %>
  <div class="guide-node-form">
    <div class="back-to-index"><%= link_to t('guide.links.back_to_index'), @result_uri.to_s %></div>
    <%= error_messages_for :item, header_message: false %>
    <div class="guide-nodes nodes">
      <div class="columns">
        <% @columns.each do |column| %>
          <fieldset class="column">
            <label>
              <%= hidden_field_tag("item[column_ids][#{column.id}]", '') %>
              <%= check_box_tag("item[column_ids][#{column.id}]", 1, @data[column.id.to_s].present?, {}) %>
              <span><%= column.question %></span>
            </label>
          </fieldset>
        <% end %>
      </div>
    </div>
    <footer class="send">
      <%= f.submit t("guide.links.revise_and_resubmit"), name: :submit %>
    </footer>
  </div>
<% end %>
