<table class="index">
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th><%= @model.t :name %></th>
      <th><%= @model.t :filename %></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.name %>"/>
        <nav class="tap-menu">
          <%= link_to :show, action: :show, filename: url_encode(item.filename) if @cur_node.allowed?(:read, @cur_user, site: @cur_site) %>
          <%= link_to :edit, action: :edit, filename: url_encode(item.filename) if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
          <%= link_to :delete, action: :delete, filename: url_encode(item.filename) if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
        </nav>
      </td>
      <% if item.directory? %>
        <td><%= link_to item.name, uploader_file_files_path(cid: @cur_node, filename: url_encode(item.filename)), class: "icon-node" %></td>
      <% else %>
        <td><%= link_to item.name, { action: :show, filename: url_encode(item.filename) }, class: "icon-page" %></td>
      <% end %>
      <td class="filename"><%= item.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
